.form-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Center items vertically */
  height: 80vh;
}

.custom-order-form {
  width: 400px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  margin-top: 5px;
  background-color: #bbfad1;
}

.custom-order-form div {
  margin-bottom: 20px;
}

.custom-order-form label {
  font-weight: bold;
  font-size: 20px;
}

.custom-order-form input,
.custom-order-form select {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.custom-order-form button {
  width: 100%;
  padding: 14px; /* Increase padding to make the button a bit bigger */
  font-size: 20px; /* Increase font size */
  background-color: #2ecc71; /* Change to green color */
  color: #fff;
  border: none;
  border-radius: 8px; /* Increase border-radius for a rounded button */
  cursor: pointer;
}

.custom-order-form button:hover {
  /* background-color: #0056b3; */
  background-color: #27ae60; /* Darker green on hover */
}

h1 {
  text-align: center; /* Center the title horizontally */
  margin-bottom: 20px; /* Add spacing below the title */
}
